<div class="progressSteps">
    <div class="status">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 222.6 583.9" style="enable-background:new 0 0 222.6 583.9;" xml:space="preserve">
            <style type="text/css">
                .st0 {
                    fill: #DCC59A;
                }
                
                .st1 {
                    fill: #BE9545;
                }
                
                .st2 {
                    opacity: 0.2;
                    fill: #DCC59A;
                }
                
                .st3 {
                    opacity: 0.4;
                    fill: #FFFFFF;
                }
                
                .st4 {
                    fill: #77295E;
                }
            </style>
            <g>
                <g>
                    <g>
                        <path class="st0" d="M123.9,505.8c-3.8-2.7-6.9-6.6-7-13.2c-0.3-41.9-5-126.3,14.6-151.6c9.3-4.6,17.7-12.7,23.9-24.3
				c25.5-47.4-0.5-249.6-1.2-255.1c0,0,0,0,0-0.1c0-2.4-20.1-4.4-44.8-4.4s-44.8,2-44.8,4.4c0,0,0,0.1,0,0.1h0
				c0,0-28.9,218.7,3.8,259.8c6.6,8.3,13.9,14.4,21.6,18.4c22.8,27.2,11.8,106.3,13,152.3c0.2,6.7-3.3,10.8-7.7,13.8
				c-32.7,1.4-57.1,7.1-57.1,13.8c0,7.8,32.7,14.1,73.1,14.1c40.4,0,73.1-6.3,73.1-14.1C184.4,512.7,158.3,506.9,123.9,505.8z"
                        />
                        <path class="st1" d="M149.1,316.4c-21,33-60.3,34-81-2.3c-23.3-41-8.5-154.7-8.5-186.6c55.1,12.1,97.2,3.3,97.2,3.3
				S177.5,271.8,149.1,316.4z" />
                        <g>
                            <g>
                                <g>
                                    <g>
                                        <circle class="st0" cx="78" cy="153.1" r="6" />
                                        <circle class="st0" cx="93" cy="146.7" r="6" />
                                        <circle class="st0" cx="120.4" cy="145.7" r="6" />
                                        <circle class="st0" cx="146.6" cy="137.1" r="6" />
                                        <circle class="st0" cx="147.1" cy="157.9" r="6" />
                                        <circle class="st0" cx="70.5" cy="138.1" r="6" />
                                        <circle class="st0" cx="86.7" cy="167.4" r="2.6" />
                                        <circle class="st0" cx="92.6" cy="161" r="2.6" />
                                        <circle class="st0" cx="105.2" cy="148.5" r="2.6" />
                                        <circle class="st0" cx="134" cy="150.5" r="4" />
                                        <circle class="st0" cx="133.8" cy="137.1" r="2.6" />
                                        <circle class="st0" cx="119.3" cy="176.3" r="2.6" />
                                        <circle class="st0" cx="120.4" cy="233.5" r="2.6" />
                                        <circle class="st0" cx="135.6" cy="180.1" r="2.6" />
                                        <circle class="st0" cx="129.6" cy="198.5" r="2.6" />
                                        <circle class="st0" cx="118" cy="164.1" r="2.6" />
                                        <circle class="st0" cx="106.8" cy="159.2" r="2.6" />
                                        <circle class="st0" cx="135.1" cy="171.3" r="2.6" />
                                        <circle class="st0" cx="150.5" cy="186.7" r="2.6" />
                                        <circle class="st0" cx="141.4" cy="192.5" r="2.6" />
                                        <ellipse transform="matrix(4.636217e-02 -0.9989 0.9989 4.636217e-02 -37.1656 233.3458)" class="st0" cx="103.6" cy="136.1"
                                            rx="6" ry="6" />
                                        <circle class="st0" cx="84.7" cy="134.8" r="6" />
                                        <circle class="st0" cx="113.6" cy="189.5" r="2.6" />
                                        <circle class="st0" cx="117.6" cy="203.5" r="2.6" />
                                        <circle class="st0" cx="123.6" cy="213.5" r="2.6" />
                                        <circle class="st0" cx="113.6" cy="222.5" r="2.6" />
                                    </g>
                                </g>
                                <circle class="st0" cx="99.5" cy="186.2" r="6" />
                            </g>
                        </g>
                        <path class="st0" d="M62.9,86.4l88.5-0.3c0,0,5.8,41,7.8,60.6c-36.7,25.1-72-36.3-101.2-7.4C59.8,126.3,62.9,86.4,62.9,86.4z"
                        />
                    </g>
                    <path class="st2" d="M61.7,198.2c-3.9,0.8-7.2,57,4.8,96c8.3,27,31.9,38.9,29.5,36.4C66.8,300.3,68.8,196.8,61.7,198.2z" />
                    <path class="st3" d="M44.1,515.7c-1.6-1-8.3,10,23.5,13.8c13.6,1.6,45.1,1,43.4,1.1C59.4,532,46.8,517.3,44.1,515.7z" />
                    <path class="st3" d="M101.4,349.4c8,15.4,1,156,3.4,146c4.1-17.4,0.8-88.8,11.8-133.3C118.5,354.4,101.1,348.9,101.4,349.4z"
                    />
                    <path class="st3" d="M65.5,61.9c26.6,10.7,60.9,1.6,86.2,0c6.9-0.4-30.5,16.1-76.8,3.6C71,64.5,63.5,61.1,65.5,61.9z" />
                </g>
                <g>
                    <g>
                        <path class="st4" d="M93.1,113.5v-2.2h8.8v1.6l-4.6,10.6h-2.7l4.6-10.1H93.1z" />
                        <path class="st4" d="M110.6,113.5h-4.4l-0.2,2.4l0.3-0.1c0.4-0.1,0.8-0.1,1.3-0.1c1.2,0,2.1,0.3,2.8,1c0.7,0.7,1.1,1.6,1.1,2.7
				c0,1.4-0.4,2.4-1.3,3.2c-0.8,0.7-2.1,1.1-3.6,1.1c-1.4,0-2.5-0.2-3.3-0.7v-2.2c0.5,0.2,1,0.4,1.6,0.6s1.1,0.2,1.6,0.2
				c1.6,0,2.4-0.6,2.4-1.9c0-1.2-0.8-1.9-2.5-1.9c-0.3,0-0.6,0-1,0.1s-0.7,0.1-0.9,0.2l-1-0.6l0.5-6.2h6.6V113.5z" />
                        <path class="st4" d="M115.6,111.1c0.9,0,1.7,0.3,2.2,1c0.5,0.7,0.8,1.6,0.8,2.9s-0.2,2.2-0.7,2.9c-0.5,0.6-1.2,1-2.2,1
				c-0.9,0-1.7-0.3-2.2-1c-0.5-0.7-0.7-1.6-0.7-2.9C112.7,112.4,113.7,111.1,115.6,111.1z M115.7,112.8c-0.3,0-0.5,0.2-0.6,0.5
				c-0.1,0.3-0.2,0.9-0.2,1.6c0,0.7,0.1,1.2,0.2,1.6c0.1,0.3,0.3,0.5,0.6,0.5c0.5,0,0.8-0.7,0.8-2.1S116.2,112.8,115.7,112.8z
				 M117.5,123.5h-2l6.8-12.2h2L117.5,123.5z M124.2,116c0.9,0,1.7,0.3,2.2,1c0.5,0.7,0.8,1.6,0.8,2.9c0,1.3-0.2,2.2-0.7,2.8
				c-0.5,0.6-1.2,1-2.2,1s-1.7-0.3-2.2-1c-0.5-0.7-0.8-1.6-0.8-2.9C121.3,117.3,122.3,116,124.2,116z M124.2,117.7
				c-0.3,0-0.5,0.2-0.6,0.5c-0.1,0.3-0.2,0.9-0.2,1.6s0.1,1.2,0.2,1.6c0.1,0.3,0.3,0.5,0.6,0.5c0.5,0,0.8-0.7,0.8-2.1
				S124.8,117.7,124.2,117.7z" />
                    </g>
                </g>
            </g>
        </svg>
    </div>
</div>
<div class="container">
    <div [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
        <div class="row">
            <div class="col-md-12 center-block">
                <div class="row top50"></div>
                <h1 class="text-center gold">בחירת תאריך</h1>
                <div class="row top20"></div>
                <div class="form-group row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <input class="input-text-right" type="text" placeholder="עד תאריך" class="form-control" id="datetimepickerTo" formControlName="datetimepickerTo"
                            (change)="onchange($event)">
                        <svg _ngcontent-xoo-23="" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon" style="bottom: 6px;left:10px;width: 50px;height: 25px;position: absolute;enable-background:new 0 0 256 256;"
                            viewBox="0 0 256 256" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                            <path _ngcontent-xoo-23="" d="M21,76v158.7c0,5.2,4.2,9.3,9.3,9.3h195.4c5.1,0,9.3-4.2,9.3-9.3V76H21z M76.8,225.3H39.6V188h37.2V225.3z
                            M76.8,178.7H39.6v-37.3h37.2V178.7z M76.8,132H39.6V94.7h37.2V132z M123.4,225.3H86.1V188h37.2V225.3z M123.4,178.7H86.1v-37.3
                            h37.2V178.7z M123.4,132H86.1V94.7h37.2V132z M169.9,225.3h-37.2V188h37.2V225.3z M169.9,178.7h-37.2v-37.3h37.2V178.7z M169.9,132
                            h-37.2V94.7h37.2V132z M216.4,225.3h-37.2V188h37.2V225.3z M216.4,178.7h-37.2v-37.3h37.2V178.7z M216.4,132h-37.2V94.7h37.2V132z
                            M235,48.3V67H21V48.3c0-5.1,4.2-9.3,9.3-9.3H67V10h20v29h82V10h20v29h36.7C230.8,39,235,43.2,235,48.3z"></path>
                        </svg>
                        <small [hidden]="myForm.controls.datetimepickerTo.valid || (!submitted)" class="text-danger">
                                שדה חובה - אנא בחר תאריך
                                    </small>
                    </div>
                    <div class="col-md-3">
                        <input class="input-text-right" type="text" placeholder="מתאריך" class="form-control" id="datetimepickerFrom" formControlName="datetimepickerFrom"
                            (change)="onchange($event)">
                        <svg _ngcontent-xoo-23="" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink" class="icon" style="bottom: 6px;left:10px;width: 50px;height: 25px;position: absolute;enable-background:new 0 0 256 256;"
                            viewBox="0 0 256 256" x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
                            <path _ngcontent-xoo-23="" d="M21,76v158.7c0,5.2,4.2,9.3,9.3,9.3h195.4c5.1,0,9.3-4.2,9.3-9.3V76H21z M76.8,225.3H39.6V188h37.2V225.3z
                            M76.8,178.7H39.6v-37.3h37.2V178.7z M76.8,132H39.6V94.7h37.2V132z M123.4,225.3H86.1V188h37.2V225.3z M123.4,178.7H86.1v-37.3
                            h37.2V178.7z M123.4,132H86.1V94.7h37.2V132z M169.9,225.3h-37.2V188h37.2V225.3z M169.9,178.7h-37.2v-37.3h37.2V178.7z M169.9,132
                            h-37.2V94.7h37.2V132z M216.4,225.3h-37.2V188h37.2V225.3z M216.4,178.7h-37.2v-37.3h37.2V178.7z M216.4,132h-37.2V94.7h37.2V132z
                            M235,48.3V67H21V48.3c0-5.1,4.2-9.3,9.3-9.3H67V10h20v29h82V10h20v29h36.7C230.8,39,235,43.2,235,48.3z"></path>
                        </svg>
                        <small [hidden]="myForm.controls.datetimepickerFrom.valid || (!submitted)" class="text-danger">
                                שדה חובה - אנא בחר תאריך
                                    </small>
                    </div>
                </div>
                <h1 class="text-center gold">כמות מוזמנים</h1>
                <div class="row top20"></div>
                <div class="form-group row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" formControlName="InvitedTo" id="InvitedTo" (change)="onchange($event)" placeholder="עד">
                        <small [hidden]="myForm.controls.InvitedTo.valid || (myForm.controls.InvitedTo.pristine && !submitted)" class="text-danger">
                                   שדה חובה - בין 100 - 10,000
                                </small>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" formControlName="InvitedFrom" id="InvitedFrom" (change)="onchange($event)" placeholder="מ">
                        <small [hidden]="myForm.controls.InvitedFrom.valid || (myForm.controls.InvitedFrom.pristine && !submitted)" class="text-danger">
                                   שדה חובה - בין 100 ל 1,000
                                </small>
                    </div>
                    <div class="row top50"></div>
                    <h1 class="text-center gold">פרטים אישיים</h1>
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" formControlName="FullName" id="FullName" (change)="onchange($event)">
                            <small [hidden]="myForm.controls.FullName.valid || (myForm.controls.FullName.pristine && !submitted)" class="text-danger">
                                        שדה חובה לא תקין
                                </small>
                        </div>
                    </div>
                    <div class="row top20"></div>
                    <div class="form-group row">
                        <div class="col-md-2"> </div>
                        <div class="col-md-2 selectContainer">
                            <select class="form-control" name="areaCode" placeholder="בחר" id="areaCode" (change)="onchange($event)">
                                <option value="050">050</option>
                                <option value="052">052</option>
                                <option value="053">053</option>
                                <option value="054">054</option>
                                <option value="055">055</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input class="form-control" type="tel" formControlName="PhoneNumber" id="PhoneNumber" (change)="onchange($event)">
                            <small [hidden]="myForm.controls.PhoneNumber.valid || (myForm.controls.PhoneNumber.pristine && !submitted)" class="text-danger">
                                        שדה חובה לא תקין
                                </small>
                        </div>
                    </div>
                    <div class="row top40"></div>
                    <div class="container">
                        <div class="jumbotronV2">
                            <div class="text-center">
                                <h3 class="text-center gold bold">סינונים מתקדמים</h3>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <label for="dayTime" class="fr">עדיפות לזמן ביום</label>
                                    <select class="form-control text-right" name="dayTime" placeholder="בחר" id="dayTime" (change)="onchange($event)">
                                    <option value="morning">בוקר</option>
                                    <option value="afternoon">צהריים</option>
                                     <option value="evening">ערב</option>
                                 </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="dayOfTheWeek" class="fr">עדיפות ליום בשבוע</label>
                                    <select class="form-control text-right" name="dayOfTheWeek" placeholder="בחר" id="dayOfTheWeek" (change)="onchange($event)">
                                    <option value="sunday">ראשון</option>
                                    <option value="monday">שני</option>
                                    <option value="tuesday">שלישי</option>
                                    <option value="wednesday">רביעי</option>
                                    <option value="thursday">חמישי</option>
                                    <option value="friday">שישי</option>
                                    <option value="saturday">שבת</option>

                                 </select>
                                </div>
                                <div class="col-md-3">
                                    <label for="kosherLevel" class="fr">רמת כשרות</label>
                                    <select class="form-control text-right" name="kosherLevel" id="kosherLevel" (change)="onchange($event)">
                                    <option value="kosher">כשר</option>
                                     <option value="kosherMehadrin">כשר מהדרין</option>
                                    <option value="notKosher">לא כשר</option>
                                    
                                 </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="priceTo" class="fr">עד</label>
                                    <select class="form-control text-right" name="priceTo" id="priceTo" (change)="onchange($event)">
                                    <option value="100">₪ 100 </option>
                                    <option value="150">₪ 150 </option>
                                    <option value="200">₪ 200</option>
                                    <option value="250">₪ 250</option>
                                    <option value="300 + ">₪ 300  </option>
                                 </select>
                                </div>
                                <div class="col-md-2">
                                    <label for="priceFrom" class="fr">מחיר מנה - מ</label>
                                    <select class="form-control text-right" name="priceFrom" id="priceFrom" (change)="onchange($event)">
                                    <option value="100">₪ 100</option>
                                    <option value="150">₪ 150</option>
                                    <option value="200">₪ 200</option>
                                    <option value="250">₪ 250</option>
                                    <option value="300 + ">₪ 300 + </option>
                                 </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button name="singlebutton" class="btn btn-primary center-block continue-btn" type="button" [disabled]="!myForm.valid">
                                    <a [class.disabled]="!myForm.valid" [routerLink]="['/summery']"> המשך <i class="glyphicon glyphicon-menu-down" ></i></a>
                                </button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>